<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <connectionStrings>
    <add name="vsstudentsConnectionString"
      connectionString="Data Source=vsstudents.mssql.somee.com;Initial Catalog=vsstudents;Persist Security Info=True;User ID=login;Password=pass"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
</configuration>