<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinApp.Properties.Settings.vsstudentsConnectionString"
            connectionString="workstation id=vsstudents.mssql.somee.com;packet size=4096;user id=login;pwd=pass;data source=vsstudents.mssql.somee.com;persist security info=False;initial catalog=vsstudents"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>